<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  	<head>

    	<title>ACES Testing</title>
    	<link rel="stylesheet" type="text/css" href="css/main.css">
    </head>



    <body>
    	<div id="container">
    	<h3 id="banner">Aces Lookup</h3>

		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="/js/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
    	{{yield}}

    	</div>
    </body>
</html>