<label for="yearMake">Enter Year and/or Make:</label>
<input id="yearMake">
<button id="find">FIND</button>

<div id="output"></div>

<div id="detailedOutput"></div>

<script>
$(document).on('click','#find',function(){
	var inputVal = $("#yearMake").val();
	parseInput(inputVal);
})

$(document).on('click','.getVehicle',function(element){
	var makeId =$(this).find(':nth-child(2)').html();
	var modelId = $(this).find(':nth-child(3)').html();
	var yearName = $(this).find(':nth-child(1)').html();
	getVehicleOptions(makeId,modelId,yearName);
})

$(document).on('click','.part',function(){
	var partID = $(this).attr("id");
	displayPart(partID);
})

function displayPart(partID){
	var someData = {partID:partID};
	$.ajax({
            type: "POST",
            url: "http://localhost:3000/api/part",
            data: someData,
            success: function(data){
              if (data != null){
              	displayPartDetails(data);
              }
            },
            dataType: 'json',
          })
}

function displayPartDetails(data){
	$("#detailedOutput").empty();
	$("#detailedOutput").append("<p>Part #:"+data.ID+"--"+data.ShortDesc+"...plus lots of details...</p>");
	// console.log(data);
}

function parseInput(inputVal){
	var yearRegex = inputVal.match(/[1][9][0-9][0-9]|[2][0][0-9][0-9]|[0-9][0-9][0-9]|[0-9][0-9]|[0-9]/);
	if (yearRegex != null){
		year = yearRegex[0];//just grab the first one, you lazy punk.
		
		if (year.length == 2){//add 19 of 20 to two-digit years
			var today = new Date();
			var y = today.getFullYear();
			var diff = y-2000;
			if (year <= diff) {
				year = "20"+year;
			}else{
				year="19"+year;
			}
		}
	}else{
		year='';
	}
	var make = inputVal.replace(yearRegex,"");
	make = $.trim(make);
	findVehicles(make,year); //make that vehicles table
}

function findVehicles(make,year){
	var someData = {make:make,year:year};
	$.ajax({
            type: "POST",
            url: "http://localhost:3000/api/base",
            data: someData,
            success: function(data){
              if (data != null){
              	createOutput(data);
              }
            },
            dataType: 'json',
          })
}

function getVehicleOptions(makeId,modelId,yearName){
	someData = {make:makeId,model:modelId,year:yearName};
	$.ajax({
            type: "POST",
            url: "http://localhost:3000/api/params",
            data: someData,
            success: function(data){
              	console.log(data);
              	createDetailedOutput(data);
            },
            dataType: 'json',
          })
}

function createOutput(data){
	$("#output").empty();
	appendBaseVehicleHeader();
	$.each(data, function(key,value){
		$("#output").append("<tr class='getVehicle'><td class='year' id="+value.Year.Name+">"+value.Year.Name+"</td><td class='make' id="+value.Make.ID+">"+value.Make.Name+"</td><td class='model' id="+value.Model.ID+">"+value.Model.Name+"</td>");
	})
}

function createDetailedOutput(data){
	$("#detailedOutput").empty();
	appendVehicleOptionsHeader();
	$.each(data, function(key,value){
		var parts = getParts(value);
		var configs = getConfigs(value);

		$("#detailedOutput").append("<tr class='parts'><td>"+value.Year.Name+"</td><td>"+value.Make.Name+"</td><td>"+value.Model.Name+"</td><td>"+value.Submodel.SubmodelName+"</td><td>"+configs+"</td><td>"+parts+"</td>");

	})
}

function getConfigs(value){
	var output;
	if (value.ConfigAttributes != null){
	$.each(value.ConfigAttributes,function(k,v){
		output += "<div>"+v.Name+"--"+v.ConfigAttributeType.Name+"</div>";
	})
	}else{
		output = "";
	}
	return output;
}

function getParts(value){
	var output;
	if (value.Parts != null){
	$.each(value.Parts,function(k,v){
		output += "<div class='part' id='"+v.ID+"'>"+v.ID+"--"+v.ShortDesc+"</div>";
		if(v.Notes != null){
			$.each(v.Notes,function(i,j){
				output += "<span>"+j.Note+"</span>";
			})
		}
	})
	}else{
		output = "";
	}
	return output;
}

function appendBaseVehicleHeader(){
	$("#output").append(baseVehicleHeader);
}

var baseVehicleHeader = "<tr id='headers'><th>Year</th><th>Make</th><th>Model</th></tr>'";

function appendVehicleOptionsHeader(){
	$("#detailedOutput").append(vehicleOptionsHeader);
}

var vehicleOptionsHeader = "<tr id='headers'><th>Year</th><th>Make</th><th>Model</th><th>Subodel</th><th>Configurations</th><th>Parts</th></tr>'";


</script>